html {
  font-size: 20px;
}
body {
  height: 100vh;
  width: 100vw;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2rem;
}

.nums {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10%;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 70px;
  height: 70px;
  margin: 0px 0.6rem;
  border-radius: 50px;
  color: white;
}
.lotto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: 50%;
  height: 5%;
  padding: 10px;
  background-color: #d8bfd8;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #ff9999;
  opacity: 0.7;
}
button:focus {
  background-color: #ff9999;
  border: none;
  outline: none;
}

.yellow,
.blue,
.red,
.black,
.green {
  box-shadow: 0px 1.5px 10px -6px black;
}

.yellow {
  background-color: #f6cd76;
}
.blue {
  background-color: #6ca7e9;
}
.red {
  background-color: #ff7669;
}
.black {
  background-color: #5a5f63;
}
.green {
  background-color: #98e287;
}

#jsDrawNums {
  padding: 30px 10px;
  z-index: 9999;
  position: absolute;
  display: flex;
  width: 25%;
  height: 100%;
  transition: all ease-in-out 0.3s;
}

#jsDrawNums ul {
  width: 90%;
  overflow: scroll;
}

#jsDrawNums li {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

#jsDrawNums li:not(:first-child) {
  margin-top: 20px;
}

#jsDrawNums li span {
  width: 45px;
  height: 45px;
  font-size: 20px;
}

#jsDrawNums button {
  align-self: center;
  width: 10%;
  margin-left: 20px;
  height: 30%;
}

.hide {
  transform: translateX(-90%);
}

@media (max-width: 600px) {
  .nums {
    width: 100%;
    margin: 25%;
  }
  span {
    margin: 0px 0.3rem;
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }
  button {
    width: 80%;
  }

  .hide {
    transform: translateY(-80%);
  }
  #jsDrawNums {
    width: 100%;
    flex-direction: column;
  }

  #jsDrawNums ul {
    background-color: white;
    width: 100%;
    height: 80%;
  }

  #jsDrawNums button {
    margin-top: 10%;
    width: 40%;
    height: 5%;
  }
}
